<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.repository.BoardMapper">

  <select id="selectBoardById" resultType="Board">

    select *
    from t_board
    where content_seq = #{contentSeq}

  </select>

  <select id="selectAllBoardList" resultType="Board">

    select *
    from t_board

  </select>

  <insert id="insertBoard" parameterType="Board">

    insert into t_board
    values (#{contentSeq}, #{boardTypeCd}, #{title}, #{description}, now(), 1)

  </insert>

  <delete id="deleteBoard" parameterType="int">

    delete
    from t_board
    where content_seq = #{id};

  </delete>

  <update id="updateBoard" parameterType="Board">

    update t_board
    set board_type_cd = #{boardTypeCd},
    title = #{title},
    description = #{description}
    where content_seq = #{contentSeq}

  </update>

  <select id="selectAllBoardCount" resultType="int">

    select count(*)
    from t_board;

  </select>

  <select id="selectPagingBoardList" resultType="Board" parameterType="int">
    select *
    from t_board
    order by content_seq desc
    limit #{startIndex}, #{endIndex};
  </select>
</mapper>